/* Global gradient image overlay styling */
.gradient{ 
    position: relative;
    display: flex;
    height: 356px;
    justify-content: center;
    z-index: 4;
    width: 100%;
}

.down{
    background-image: linear-gradient(#000 10%, #00000080 67%, #00000000 100%);
}

.up{
    margin-top: -356px;
    background-image: linear-gradient(#00000000 0%, #00000080 33%, #000 90%);
    flex-direction: column;
    align-items: center;
}

.down-arrow{
    margin-top: 50px;
    opacity: 0.6;
    transition: 0.3s;
}

.down-arrow:hover {
    opacity: 1;
}

.down-arrow img{
    height: 20px;
}

.up h1{
    font-size: 48px;
    letter-spacing: 0.1em;
    line-height: 90%;
    font-weight: 300;
    font-family: Futura, Century Gothic;
    font-weight: 200;
    color: #fff;
    text-align: center;
    display: inline-block;
    z-index: 12;
    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg-img{
    position: relative;
    z-index: 1;
    margin-top: -356px;
    height: var(--pupuke-height);
    margin-left: -200px;
    opacity: 0.4;
}

/*----------------------------- TEMPLATE ----------------------------*/

body{
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 5px;
}

main{
    margin: 0;
    min-height: 1000px;
    font-family: open sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

main h1{
    text-align: center;
    font-size: 60px;
    font-family: Futura, Century Gothic;
    font-weight: 200;
}

html{
    scroll-behavior: smooth;
}

/* Header */

header{
    height: 290px;
    display: flex;
}

#main-logo{
    z-index: 7;
    width: 98px;
    margin: 64px;
    height: fit-content;
}

#main-logo img{
    width: 98px;
}

header .header-texts{
    margin-top: 40px;
    margin-left: -226px;
    width: 100%;
}

header h1{
    color: #2AACB9;
    font-size: 30pt;
    line-height: 90%;
    font-weight: 800;
    font-family: 'Open Sans';
    text-align: center;
    text-shadow:  /* text outline */
   -1px -1px 0 #FFF,
   1px 0 0 #FFF,
    1px -1px 0 #FFF,
    -1px 0 0 #FFF,
    -1px 1px 0 #FFF,
    0 1px 0 #FFF,
    0 -1px 0 #FFF,
     1px 1px 0 #FFF,
     -2px -2px 0 #FFF,
   2px 0 0 #FFF,
    2px -2px 0 #FFF,
    -2px 0 0 #FFF,
    -2px 2px 0 #FFF,
    0 2px 0 #FFF,
    0 -2px 0 #FFF,
     2px 2px 0 #FFF;
}

/* Navigation */

nav{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color:#FFF;
    font-family: 'open sans';
    letter-spacing: 2px;
    color: #FFFFFFAA;
}

nav a{
    text-decoration: none;
    color: #FFFFFFAA;
    transition: 0.4s;
}

nav a:hover{
    color: #FFF;
}

/* Hero Image Gallery */

#hero-gallery-display{
    position:relative;
    z-index: -4;
    width: 1400px;
    height: 788px;
    overflow:hidden;
    margin-top: -356px;
}

#hero-gallery{
    width: 4200px;
    animation: move 15s ease-in-out 2s infinite alternate;
    display:flex;
}

#hero-gallery img{
    width: 1400px;
    margin: 0;
}

@keyframes move {
	0%,30% { transform: translateX(0); }
   	40%,70% { transform: translateX(-1400px); }
   	80%,100% { transform: translateX(-2800px); }
}

/* Footer */

footer{
    display: flex;
    background-color: black;
    color: white;
    padding: 50px;
    flex-direction: column; 
    align-items: center;
    font-family: open sans;
}

footer p{
    font-size: 14px;
}

.footer-text p{
    font-size: 16px;
}

.footer-main{
    display: flex;
    flex-direction: row;
    width: 1300px;
    align-items: center;
    justify-content: center;
}

.footer-main h2{
    font-size: 45px;
    margin: 0;
}

footer hr{
    color: white;
    width: 1200px;
}

footer a{
    margin: 25px 50px;
}

footer a img{
    width: 150px;
}


/*------------------------ PAGE 1 - HOME PAGE -----------------------*/
#homepage-content{
    width: 100%;
    background-color: #efefef;
    padding: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homepage-content h1{
    color: #2AACB9;
}

#homepage-content p{
    width: 500px;
    text-align: center;
}

#homepage-content hr{
    width: 1000px;
    margin: 50px 0;
}

.vision{
    font-size: 17.5px;
}

.motto{
    font-size: 14px;
}

.cred{
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    color: #9B9B9B;
    margin: -50px 0 30px;
    font-size: 20px;
}

#waiata{
    display: flex;
    justify-content: center;
}

#waiata br{
    margin: 20px 0;
}

#waiata hr{
    width: 0;
}

.image-gallery{
    display: flex;
}

.image-gallery a{
    margin: 0 10px;
    width: 300px;
    overflow: hidden;
}

.image-gallery a img{
    height: 200px;
}

.mao{
    font-weight: bold;
}

#home-images{
    margin: 50px 0;
    display: flex;
}

#home-images aside{
    width: 400px;
    height: 560px;
    overflow: hidden;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

#home-images aside img{
    width: 400px;
    height: 560px;
    opacity: 0.4;
}

#home-images aside h3{
    font-size: 24px;
    margin-top: -400px;
    color: white;
    opacity: 0.999;
    width: 280px;
    text-align: left;
    font-weight: 300;
}

#home-images aside p{
    font-size: 16px;
    width: 280px;
    height: 100%;
    text-overflow: ellipsis;
    text-align: left;
    color: white;
    opacity: 0.999;
}

#home-images aside div{
    width: 400px;
    height: 200px;
    margin-top: -200px;
    display: flex;

    align-items: center;
}

#home-images aside a{
    width: 30px;
    transition: 0.3s;
    display: flex;
    padding: 5px;
}

#home-images aside a img{
    height: 20px;
    opacity: 1;
}

#home-images aside a:hover{
    margin-top: 5px;
}

#home-images aside a:active{
    opacity: 0.8;
}

.home-image-container{
    width: 780px;
    height: 560px;
    overflow: hidden;
}

.home-image-container img{
    height: 560px;
}



/*---------------- PAGE 3 - NGATI PAOA AND LAKE PUPUKE --------------*/


/* Ngati Paoa */
#ngati-paoa{
    width: 100%;
    background-color: #efefef;
    padding: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ngati-paoa p{
    font-size: 18px;
}

#ngati-paoa hr{
    width: 1000px;
}

#ngati-introduction{
    width: 900px;
}

#ngati-history{
    width: 900px;
}

#ngati-history div{
    margin: 40px;
    text-align: center;
}

/* Lake Pupuke */

#lake-pupuke{
    --pupuke-height: 1000px;
    color: white;
    background-color: #000;
    overflow: hidden;
    height: var(--pupuke-height);
}

#lake-pupuke hr{
    width: 900px;
    color: white;
    margin: 50px 0;
}

#lake-pupuke p{
    font-size: 18px;
}

.above{
    position: relative;
    top: calc(var(--pupuke-height)*-1);
    z-index: 6;
}

.pupuke-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}

.pupuke-content p{
    font-size: 18px;
}

/* Lake Pupuke content carousel */

.pupuke-slideshow{
    margin: 0;
    width: 1400px;
    overflow: hidden;
}

.pupuke-slide-selector{
    display: none;
}

.pupuke-slideshow label{
    color: white;
    cursor:pointer;
    transition: opacity .7s .4s, background .2s;
    height: 30px;
    position: relative;
    top: 200px;
}

.pupuke-slide{
    display: flex;
    flex-direction: column;
    width: 1400px;
    align-items: center;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden;
    height: 0px;
}

.pupuke-slideshow label img{
    transition: 0.3s;
    height: 30px;
}

.pupuke-slideshow label:hover > img{
    height: 20px;
}

.prev{
    margin-left: -1200px;

}
.next{
    margin-right: -1200px;
    margin-top: -30px;
}

.prev img{
    transform: rotate(90deg);
}

.next img{
    transform: rotate(-90deg);
}

#human-use:checked ~ .pupuke-slide:nth-of-type(1),
#geology:checked ~ .pupuke-slide:nth-of-type(2),
#maori-legend:checked ~ .pupuke-slide:nth-of-type(3) {
    height: 500px;
    opacity: 1;
    z-index: 9;
}

.pupuke-slide p{
    width: 900px;
}

.further-reading-2{
    width: 1400px;
    text-align: center;
    color: white;
    margin-top: 80px;
}

.further-reading-2 a{
    opacity: 0.8;
    color: white;
    transition: 0.3s;
}

.further-reading-2 a:hover{
    opacity: 1;
}

/*--------- PAGE 2 - RANGITOTO ISLAND AND WAITEMATA HARBOUR ---------*/
#rangitoto-island{
    height: 2200px;
    overflow: hidden;
    background-color: #000;
}

#rangitoto-island .bg-img{
    z-index: 2;
    width: 1600px;
}

.rangitoto-content{
    color: white;
    position: relative;
    top: -2400px;
    z-index: 7;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rangitoto-content p{
    width: 900px;
    font-size: 18px;
}

/* Styling of the images/paragraphs within the geology section */

.geology-side{
    display: flex;
    justify-content: center;
}

.geology-side a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-img a{
    margin: 20px 20px 0 0;
    width: 280px;
    height: 300px;
    overflow: hidden;
}

.right-img a{
    margin: 20px 0 0 20px;
    width: 280px;
    height: 250px;
    overflow: hidden;
}

.geology-side a img{
    height: 400px;
}

.geology-side p{
    width: 600px;
}


.rangitoto-content hr{
    margin: 0;
    color: white;
    width: 1000px;
    position: relative;
    z-index: 9;
}

.rangitoto-content .hr-with-margin{
    margin: 50px 0 25px;
}

.rangitoto-content h2{
    margin: 20px 0;
}

.rangitoto-content .gradient{
    width: 1400px;
    transition: 0.3s;
}

.rangitoto-content .down{
    margin-top: -2px;
}

.rangitoto-content .up a{
    margin-top: 150px;
}

.rangitoto-content .up a img{
    width: 30px;
    transition: 0.3s;
}

.rangitoto-content .up a:focus > img{
    transform: rotate(180deg)
}

.rangitoto-content .up:has(a:focus){
    margin-top: 100px;
}

.rangitoto-content .down{
    height: 150px;
}

#maori-association{
    z-index: 9;
}

#maori-association h2{
    text-align: center;
}


#waitemata-harbour{
    margin: -358px 0 0;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 1700px;
}

.waitemata-content hr{
    width: 1000px;
    color: white;
    margin: 50px 0 25px;
}

.marginless{
    margin: 0;
    color: white;
    position: relative;
    z-index: 9;
    width: 1000px;
}

.waitemata-content{
    position: relative;
    z-index: 7;
    top: -3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waitemata-content p{
    width: 900px;
}
