/* Global gradient elements */
.gradient{
    display: flex;
    width: 1400px;
    height: 356px;
    justify-content: center;
}

.down{
    background-image: linear-gradient(#000 10%, #00000080 67%, #00000000 100%);
}

.up{
    margin-top: -356px;
    background-image: linear-gradient(#00000000 0%, #00000080 33%, #000 90%);
}

.down-arrow{
    margin-top: 200px;
    opacity: 0.5;
    transition: 0.3s;
}

.down-arrow:hover {
    opacity: 1;
}


/*------- Template styling -------*/

body{
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 5px;
}

main{
    min-height: 1000px;
}

/*------- Header -------*/

header{
    height: 290px;
    display: flex;
}

header a img{
    width: 98px;
    padding: 64px;
}

header .header-texts{
    margin-top: 40px;
    margin-left: -226px;
    width: 100%;

}

header h1{
    color: #2AACB9;
    font-size: 30pt;
    line-height: 90%;
    font-weight: 800;
    font-family: 'Open Sans';
    text-align: center;
    text-shadow: /* text outline */
   -1px -1px 0 #FFF,
   1px 0 0 #FFF,
    1px -1px 0 #FFF,
    -1px 0 0 #FFF,
    -1px 1px 0 #FFF,
    0 1px 0 #FFF,
    0 -1px 0 #FFF,
     1px 1px 0 #FFF,
     -2px -2px 0 #FFF,
   2px 0 0 #FFF,
    2px -2px 0 #FFF,
    -2px 0 0 #FFF,
    -2px 2px 0 #FFF,
    0 2px 0 #FFF,
    0 -2px 0 #FFF,
     2px 2px 0 #FFF;

}

nav{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color:#FFF;
    font-family: 'open sans';
    letter-spacing: 2px;
    color: #FFFFFFAA;

}

nav a{
    text-decoration: none;
    color: #FFFFFFAA;
    transition: 0.4s;
}

nav a:hover{
    color: #FFF;
}

/*---- Hero Image Gallery ----*/

#hero-gallery-display{
    position:relative;
    z-index: -4;
    width: 1400px;
    height: 788px;
    overflow:hidden;
    margin-top: -290px;
}

#hero-gallery{
    width: 4200px;
    animation: move 15s ease-in-out 2s infinite alternate;
    display:flex;
}

#hero-gallery img{
    width: 1400px;
    margin: 0;
}

@keyframes move {
	0%,30% { transform: translateX(0); }
   	40%,70% { transform: translateX(-1400px); }
   	80%,100% { transform: translateX(-2800px); }
}

/*---- Footer ----*/

footer{
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 620px;
    margin: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: open sans;
}

footer hr{
    margin: 50px;
    width: 1000px;
}

footer img{
    width: 230px;
}

footer h2{
    font-weight: lighter;
    font-size: 40pt;
    margin: 5px;
}