body{
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 5px;
}

html{
    scroll-behavior: smooth;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    font-family: open sans;
}

footer p{
    font-size: 14px;
}

.footer-text p{
    font-size: 16px;
}

.footer-main{
    display: flex;
    flex-direction: row;
    width: 1300px;
    align-items: center;
    justify-content: center;
}



.footer-main h2{
    font-size: 45px;
    margin: 0;
}

footer hr{
    color: white;
    width: 1200px;
}

footer a{
    margin: 25px 50px;
}

footer a img{
    width: 150px;
}

